@use 'sass:map';

@import 'reset';
@import 'base';



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: map.get($copy, 'size');
    font-family: map.get($copy, 'font-main'), sans-serif;
    font-weight: map.get($copy, 'small');
    background-color: map.get($colors-primary, 'background');
}

.container {
    max-width: 100%;
    // max-width: $desktop-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.banner {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 700px;
    background-image: url('../images/desktop/image-header.jpg');
    background-size: cover;
    background-position: bottom center;

    @media (max-width: 999px) {
        height: 700px;
    }

    .banner_header {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        .banner_header_nav {
            max-width: 35%;
            @media (max-width: 999px) {
                display: none;
            }
            .banner_header_nav_list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 100%;
                .banner_header_nav_list_el {
                    :hover {
                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 20px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                    button {                       
                        height: 40px;
                        max-width: 200px; 
                        width: auto;
                        border: none;
                        background: none;
                        font-size: map.get($copy, 'size');
                        font-family: map.get($copy, 'font-main'), sans-serif;
                        font-weight: map.get($copy, 'small');
                        color: white;
                        
                    }
                }
            }
        }
        .banner_header_hamburger {
            display: none;
            @media (max-width: 999px) {
                display: inline-block;
            }
        }
    }

    .banner_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner_content_slogan {
            font-size: 3rem;
            font-family: map.get($copy, 'font-other'), sans-serif;
            font-weight: map.get($copy, 'bold');
            text-transform: uppercase;
            letter-spacing: 15px;
            margin: 40px;
            text-align: center;
            @media (max-width: 999px) {
                font-size: 2rem;
                letter-spacing: 10px;
            }
        }
        .banner_content_arrow {
            margin-top: 20px;

        }
    }
}

.offer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    @media (max-width: 999px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .offer_el_info {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 0 40px;
        @media (max-width: 999px) {
            width: 100%;
            min-height: 500px;
            text-align: center;
            align-items: center;
        }
        .offer_el_info_header {
            font-size: 2.4rem;
            font-weight: map.get($copy, 'bold');
            font-family: map.get($copy, 'font-other'), sans-serif;
            padding:20px 0;
            max-width: 350px;
            @media (max-width: 999px) {
                font-size: 2rem;
            }
        }   
        .offer_el_info_text {
            font-weight: map.get($copy, 'small');
            font-family: map.get($copy, 'font-main'), sans-serif;
            padding:20px 0;
            line-height: 1.5;
            max-width: 350px;
        }   
        .offer_el_info_btn_container {
            width: 100%;
            max-width: 350px; 
            display: flex;
            @media (max-width: 999px) {
                justify-content: center;
            }
        
            .offer_el_info_btn {
                border: none;
                background: none;
                font-weight: map.get($copy, 'bold');
                font-family: map.get($copy, 'font-other'), sans-serif;
                font-size: 1.1rem;
                padding:20px 0;
                position: relative;
                display: flex;
                flex-direction: column;
                div {
                    display: inline-block;
                    width: 115%;
                    height: 10px;
                    border-radius: 5px;
                    position: relative;
                    left: -10px;
                    top: -7px;
                }
                div.underline_yellow {
                    background-color: rgba(250, 212, 0, 0.2);
                }
                div.underline_red {
                    background-color: rgba(254, 120, 103, 0.2);
                }
            }
            .offer_el_info_btn:hover {
            cursor: pointer;
            div.underline_yellow {
                background-color: rgba(250, 212, 0, 1);
                z-index: -1;
            }
            div.underline_red {
                background-color: rgba(254, 120, 103, 1); 
                z-index: -1;
            }
            }
        }
    }
    .offer_el_picture {
        width: 50%;
        height: auto;
        @media (max-width: 999px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .pic_standout {
        order: 1;
        @media (max-width: 999px) {
            order: 0;
        }
    }
}

.benefits {
    display: flex;
    width: 100%;

    @media (max-width: 999px) {
        flex-direction: column;
    }

    .benefits_el {
        width: 50%;
        position: relative;
        @media (max-width: 999px) {
            width: 100%;
        }
        img {
            width: 100%;
        }

        .benefits_el_first, .benefits_el_second {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding: 0 50px;
            position: absolute;
            z-index: 1;
            top: 60%;   
            .benefits_el_header {
                font-weight: map.get($copy, 'bold');
                font-family: map.get($copy, 'font-other'), sans-serif;
                font-size: 2rem;
                @media (max-width: 999px) {
                    font-size: 1.5rem;
                }
            }
            .benefits_el_text {
                text-align: center;
                font-weight: map.get($copy, 'small');
                font-family: map.get($copy, 'font-main'), sans-serif;
                padding: 30px 0 60px 0;
                line-height: 1.5;
                width: 95%;
                max-width: 400px;
                @media (max-width: 999px) {
                    font-size: 0.8rem;
                    padding: 14px 0 60px 0;
                }
            }
        }
        .benefits_el_first {
            color: hsl(167, 40%, 24%);
        }
        .benefits_el_second {
            color: hsl(198, 62%, 26%);
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 150px 0;

    @media (max-width: 999px) {
        padding: 50px 0;
    }

    .testimonials_header {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 5px;
        font-family: map.get($copy, 'font-other'), sans-serif;
        font-weight: map.get($copy, 'bold');
        padding-bottom: 100px;
        color: hsl(210, 4%, 67%);
        text-align: center;
        @media (max-width: 999px) {
            padding-bottom: 50px;
            font-size: 1.2rem;
        }
    }
    .container_el {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 100px;
        @media (max-width: 999px) {
            flex-direction: column;
            padding: 0 50px;
        }
        .testimonials_el {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 999px) {
                padding-bottom: 30px;
            }
            .testimonials_el_pic {
                border-radius: 50%;
                width: 80px;
                height: auto;
            }
            .testimonials_el_text {
                text-align: center;
                font-weight: map.get($copy, 'medium');
                font-family: map.get($copy, 'font-main'), sans-serif;
                padding: 60px 40px;
                line-height: 1.5;
                color: hsl(212, 27%, 19%);
            }
            .testimonials_el_name {
                font-weight: map.get($copy, 'bold');
                font-family: map.get($copy, 'font-other'), sans-serif;
                color: hsl(212, 27%, 19%);

            }
            .testimonials_el_position {
                font-size: 0.9rem;
                padding: 15px;
                color: hsl(210, 4%, 67%);
            }

        }
    }

}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    @media (max-width: 999px) {
        flex-wrap: wrap;
    }
    .gallery_el {
        max-width: 25%;
        height: auto;
        @media (max-width: 999px) {
            max-width: 50%;
        }
    }
}

.footer {
    background-color: #90d4c5;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 70px 0 10px 0;

    .footer_nav {
        display: flex;
        justify-content: space-around;  
        padding-top: 40px;
        padding-bottom: 70px;
        width: 300px;
        color: hsl(167, 40%, 24%);
        .footer_nav_el:hover {
            cursor: pointer;
            color: white;
        }        
    }

    .footer_sm {
        display: flex;
        justify-content: space-around;
        width: 175px;
        padding-bottom: 50px;
        svg:hover {
            cursor: pointer;
            path {
                fill:white;
            }
        }
    }
}